# Python version
python_version == 3.6.*

# Django and Django REST framework
Django == 5.0.6
djangorestframework == 3.15.2

# Django utilities
django-cors-headers == 4.4.0
django-filter == 24.2
sqlparse == 0.5.0

# Markdown support
Markdown == 3.6

# PostgreSQL database adapter
psycopg2-binary == 2.9.9

# ASGI framework
asgiref == 3.8.1

# Typing extensions
typing_extensions == 4.12.2

# Timezone data
tzdata == 2024.1
